.TRub {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #003399; text-decoration: none}
.inputT {  font-size: 11px; color: #003399; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif}
.TTxt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none}
.TLien { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #003399}
.TLien2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none}
a:hover {  color: #FFCC66; text-decoration: none}
a:hover {  background-color: #FFFFFF}
.rub {  font-family: "Trebuchet MS"; font-size: 14px; font-style: normal; font-weight: bold; font-variant: normal; color: #003399}
.texteMen {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #003399}
.menuRub {  font-family: "Trebuchet MS"; font-size: 14px; font-style: normal; font-weight: bold; font-variant: normal; color: #FFCC66; line-height: normal; text-decoration: none; letter-spacing: normal; word-spacing: normal; white-space: normal}
.Txtaide
{
    FONT-SIZE: 8pt;
    COLOR: #990000;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Impact, 'Comic Sans MS'
}